@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}